In [24]:
from pycaret.classification import predict_model, get_config 
from mlflow import MlflowClient
from mlflow.models import infer_signature
from sklearn.metrics import log_loss, f1_score, roc_curve, auc
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import mlflow
import matplotlib.pyplot as plt
import utils
import pandas as pd
import pycaret.classification as pc

In [7]:
output_dir = "../data/processed"
ds_train = "/base_train.parquet"
ds_test = "/base_test.parquet"

mlflow_url = "sqlite:///mlruns.db"
experiment_name = "PipelineTreinamento"

In [5]:
df_train = pd.read_parquet(output_dir+ds_train)
df_test = pd.read_parquet(output_dir+ds_test)

In [8]:
mlflow.set_tracking_uri(mlflow_url)
if not mlflow.get_experiment_by_name(experiment_name):
    mlflow.create_experiment(experiment_name)

In [9]:
setup = pc.setup(data=df_train, test_data=df_test, target="shot_made_flag", preprocess= False, normalize=False, session_id=1 )

In [10]:
lr_model = pc.create_model("lr")
dt_model = pc.create_model("dt")

In [12]:
lr_prediction = pc.predict_model(lr_model, data=df_test)
lr_log_loss = log_loss(df_test["shot_made_flag"], lr_prediction["prediction_score"])

In [14]:
dt_prediction = pc.predict_model(dt_model, data=df_test)
dt_log_loss = log_loss(df_test["shot_made_flag"], dt_prediction["prediction_score"])
dt_f1_score = f1_score(df_test['shot_made_flag'], dt_prediction['prediction_label'].astype(int), average='binary')

In [16]:
mlflow.set_experiment(experiment_name)
mlflow.start_run()

In [17]:
mlflow.log_metric("lr_log_loss", lr_log_loss)
mlflow.log_metric("dt_log_loss", dt_log_loss)
mlflow.log_metric("dt_f1_score", dt_f1_score)

In [25]:
plt.figure(figsize=(7,5))
utils.plot_validation_curve(df_train.drop('shot_made_flag', axis=1), df_train['shot_made_flag'],'C', {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}, lr_model, 'Regressão Logística', 'f1',True)

AttributeError: module 'utils' has no attribute 'plot_validation_curve'